---
layout: default
title: Index
---

<div id="posts">
  {% for category in site.categories %}
  <div class="related-posts">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <h2 class="category-head">{{ category_name }}</h2>
    <ul class="posts-list">
      {% for post in site.categories[category_name] %}
        <li>
          <h3>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </h3>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
