---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<!-- Related posts by category -->
<div class="related">
  <h2>Related</h2>
  <ul class="posts-list">
    {% assign maxRelated = 20 %}
    {% assign maxRelatedCounter = 0 %}
    {% for post in site.posts %}
      {% assign sameTagCount = 0 %}
      {% for category in post.categories %}
        {% if post.url != page.url %}
          {% if page.categories contains category %}
            {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if sameTagCount >= 1 %}
        <li>
          <h3>
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
              <small>({{ post.categories | join: ', ' }})</small>
            </a>
          </h3>
        </li>
        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
        {% if maxRelatedCounter >= maxRelated %}
          {% break %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</div>

